#todo-display {
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: grey;
}

.todos {
    display: flex;
    background-color: lightgrey;
    margin: 10px 10px;
    width: 100%;
    justify-content: center;
}